openapi: 3.0.0
servers:
  - description: API hosted on web server
    url: http://ronanstuff.strangled.net:53269/Ronan-H/weather-api/1.0.0
info:
  description: Weather API for use in our 4th year project, 3D House Simulator
  version: "1.0.0"
  title: Weather API
tags:
  - name: users
    description: Operations available to regular users
paths:
  /historical/{area}/{dataset}:
    get:
      tags:
        - users
      summary: retrieves weather history
      operationId: getWeatherHistory
      description: |
        Retrieves a premade dataset of weather history for a specified area
      parameters:
        - name: area
          in: path
          required: true
          description: location of weather data to use
          schema:
            type: string
        - name: dataset
          in: path
          required: true
          description: dataset number to use
          schema:
            type: integer
      responses:
        '200':
          description: a premade set of weather history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherHistory'
        '400':
          description: bad input parameter
  /historical/{area}/{dataset}/{datapoint}:
    get:
      tags:
        - users
      summary: retrieves a specific DataPoint from a WeatherHistory set
      operationId: getDataPoint
      description: |
        Retrieves a specific DataPoint from a WeatherHistory set
      parameters:
        - name: area
          in: path
          required: true
          description: location of weather data to use
          schema:
            type: string
        - name: dataset
          in: path
          required: true
          description: dataset number to use
          schema:
            type: integer
        - name: datapoint
          in: path
          required: true
          description: index of specific DataPoint to get from the WeatherHistory
          schema:
            type: integer
      responses:
        '200':
          description: specified DataPoint from WeatherHistory set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPoint'
        '400':
          description: bad input parameter
components:
  schemas:
    WeatherHistory:
      type: object
      required:
        - description
        - length
        - data
      properties:
        description:
          type: string
        length:
          type: integer
        data:
          type: array
          items:
            $ref: "#/components/schemas/DataPoint"
    DataPoint:
      type: object
      required:
        - temperature
      properties:
        timestamp:
          type: string
          example: "15-aug-2012 17:00"
        temperature:
          type: number
          example: 10
        windspeed:
          type: number
          example: 3